body {
  max-width: 1024px;
  margin: 0 auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.3;
}

header div.row {
  float: left;
  margin: 10px 15px;
}

main {
  border-top: 0.07142855em double #444; 
  color: #000; 
  clear: both;
  margin-bottom: 0;
}

section {
  margin: 20px;
}

#avatar {
  width: 15%;
}

#contacts {
  width: 30%;
  margin: 20px 40px;
}

.portrait {
  vertical-align: middle;
  border-radius: 10%;
}

#info h1 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 50px;
}

#info address {
  margin-top: -20px;
} 

ul li {
  padding-bottom: 10px;
}
